<h3>Monitor</h3>
@using aw_class
@page "/Monitor"

<table class="table table-striped table-dark">
    <thead>
        <tr>
            <th scope="col">id</th>
            <th scope="col">account_name</th>
            <th scope="col">tag_miner</th>
            <th scope="col">state</th>
            <th scope="col">state end</th>
            <th scope="col">last state</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Enumerable.Reverse(_wax_miner))
        {
            <tr>

                <td>@item.wax_account_id</td>
                <td>@item.accountName</td>
                <td>@item.tag_miner</td>
                <td>@item.state</td>
                <td>@item.state_end</td>
                <td>@item.last_state</td>
            </tr>

        }
    </tbody>

</table>



